*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  display: none;
}

body {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  background-color: #f2f2f2;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.active-nav {
  border-bottom: 2px solid #756257;
  padding-bottom: 19px;
}
.all-button {
  border: none;
  background-color: inherit;
}
.page-header {
  width: 1200px;
  display: flex;
  background: #fff;
}
.main-nav {
  width: 1200px;
  height: 64px;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-list-logo {
  margin-left: 70px;
  margin-right: 28px;
}

.nav-list-link {
  text-decoration: none;
  color: var(--Texts-Texts-basic, #000);
}
.nav-list-item {
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.client-list {
  width: 268px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: 70px;
}
.search-button {
  background: url(img/search.sedona.svg) no-repeat;
  background-size: 20px 20px;
  position: relative;
  top: 20px;
  right: 12px;
  bottom: 20px;
  left: 12px;
}
.favorites-button {
  background: url(img/favorites.svg) no-repeat;
  background-size: 20px 20px;
  position: relative;
  top: 20px;
  right: 12px;
  bottom: 20px;
  left: 12px;
}
.favorites-button,
.search-button {
  padding: 22px 12px;
}
.cli-1,
.cli-2 {
  width: 44px;
  height: 64px;
}
.client-item {
  width: 160px;
  height: 36px;
  color: #fff;
  background-color: #756157;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.client-item-flex {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.bolder-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px; /* 120% */
  text-transform: uppercase;
  margin-bottom: 20px;
  display: flex;
  margin-top: 0;
}
.hero {
  height: 412px;
  padding: 35px 70px 70px 70px;
  color: #ffffff;
  background: url(img/filter-background.jpg) no-repeat;
  display: grid;
  gap: 30px;
}
.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px; /* 130% */
  margin: 0;
  padding: 0;
}
.inner-header {
  width: 1060px;
  height: 107px;
  display: grid;
  gap: 8px;
}
.breadcrums-list {
  gap: 10px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.section-filter {
}
.filter-form {
  display: flex;
}
.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}
.catalog-filter-tytle {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px; /* 120% */
  text-transform: capitalize;
}

.catalog-filter-list {
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog-filter-item {
  margin-bottom: 16px;
}

.infrastructure {
  margin-right: 70px;
}

.housing-type {
  margin-right: auto;
}
.regulate-prices {
  margin-left: auto;
}
.form-buttons {
  display: grid;
  margin-left: 70px;
  margin-top: auto;
  gap: 32px;
}
.apply-button {
  color: var(--Texts-background-deafault, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px; /* 125% */
  text-transform: uppercase;
  display: flex;
  padding: 8px 50px;
  justify-content: center;
  border-radius: 4px;
  background: var(--Buttons-second, #82b3d3);
  width: 191px;
  height: 36px;
  border: none;
}
.reset-button {
  color: var(--Texts-background-deafault, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px; /* 125% */
  text-transform: uppercase;
  display: flex;
  padding: 8px 50px;
  justify-content: center;
  width: 191px;
  height: 36px;
  border-radius: 4px;
  background-color: inherit;
  border: none;
}
.section-catalog {
  padding: 50px 70px 60px 70px;
}
.catalog-inner-nav {
  display: flex;
}
.find-number-hotels {
  margin: 0 auto 0 0;
  color: var(--Texts-Texts-basic, #000);
  font-size: 30px;
  font-weight: 700;
  line-height: 36px; /* 120% */
  text-transform: uppercase;
}
.view-mode-buttons {
  margin-left: 70px;
  gap: 8px;
  display: flex;
}
.view-button {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 14px 12px;
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid var(--Forms-elements-1, #e5e5e5);
}
.view-button-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.catalog-card {
  width: 340px;
  height: 438px;
  padding: 20px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-areas:
    "img img"
    "img img"
    "img img"
    "name name"
    "type price"
    "more like"
    "star rating";
  row-gap: 16px;
  column-gap: 20px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}
.catalog-card-img {
  grid-area: img;
}
.catalog-card-name {
  text-decoration: none;
  grid-area: name;
  margin: 0;
  color: var(--Texts-Texts-basic, #000);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
}
.catalog-card-type {
  margin: 0;
  margin-right: auto;
  height: 21px;
  grid-area: type;
  color: var(--Texts-second, #333);
  text-align: left;
  line-height: 21px; /* 116.667% */
}
.catalog-card-price {
  grid-area: price;
  color: var(--Texts-second, #333);
  text-align: right;
  margin: 0;
  line-height: 21px; /* 116.667% */
}
.more-details-button {
  grid-area: more;
}
.favorite-hotel-button {
  grid-area: like;
}
.rating-stars {
  display: flex;
  list-style: none;
  height: 37px;
  margin: 0;
  grid-area: star;
}
.rating {
  grid-area: rating;
  height: 37px;
  margin: 0;
}
.section-email {
  background-color: #ffffff;
  height: 415px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 98px 271px 104px 271px;
}

.subscribe-text {
  display: flex;
  color: var(--Texts-background-deafault, #000);
  font-size: 22px;
  line-height: 26px; /* 118.182% */
  margin-bottom: 54px;
  margin-top: 0;
}
.email-form {
  display: flex;
  width: 684px;
}
.email-input {
  border-radius: 4px 0 0 4px;
  background: var(--basic-light, #f2f2f2);
  padding: 12px 20px;
  width: 452px;
  height: 52px;
  border: none;
}
.subscribe-button {
  color: var(--Texts-background-deafault, #fff);
  font-size: 20px;
  font-weight: 700;
  line-height: 36px; /* 180% */
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 0px 4px 4px 0px;
  background: var(--Buttons-second, #82b3d3);
}

.footer {
  width: 1200px;
  background-color: #fff;
  height: 120px;
  padding: 40px 70px 40px 70px;
  display: flex;
}
.footer-nav-number {
  margin: 0;
  margin-right: auto;
  display: flex;
  color: var(--Texts-Texts-basic, #000);
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  justify-content: space-between;
}
.social-nav-list {
  margin: 0;
  padding: 0;
  margin-right: auto;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
.social-nav-link {
  display: flex;
  margin: 13px;
}
.social-nav-item {
  display: flex;
  justify-content: space-between;
}
